@import "../../../default_styles/common.scss";

.common-button {
  // Size
  width: 100%;
  height: 40px;

  border-radius: 15px;

  border: 2px solid $common-purple;

  background: linear-gradient(135deg, $common-red 0%, $common-gray 100%);

  color: white;

  cursor: pointer;

  font-size: 17px;

  text-align: center;

  line-height: 40px;
}

.common-button:hover {
  background: linear-gradient(135deg, $common-orange 0%, $common-lavender 100%);

  border: 2px solid $common-red;
}

.common-button-link {
  text-decoration: none;

  .common-button {
    // Size
    width: 100%;
    height: 40px;

    border-radius: 15px;

    border: 2px solid $common-purple;

    background: linear-gradient(135deg, $common-red 0%, $common-gray 100%);

    color: white;

    cursor: pointer;

    font-size: 17px;

    text-align: center;

    line-height: 40px;
  }

  .common-button:hover {
    background: linear-gradient(
      135deg,
      $common-orange 0%,
      $common-lavender 100%
    );

    border: 2px solid $common-red;
  }
}
