@import "../../../default_styles/common.scss";

.vaccinations-page-background {
  background-color: $common-background-color;

  .vaccinations-list {
    margin: auto;
    margin-top: 70px;

    width: 1100px;

    .vaccinations-list-child {
      margin-top: 150px;
    }
  }
}
